/* body{
    background-color: black;
}
.main-content 
{
    margin: auto;
    width: 80%;
}
.left-content
{
    position: relative;
    display: block;
}
.person-name
{
    position: absolute;
    color:white;
    display: block;

} */
#body{
    background-image:url("https://n.foxdsgn.com/niko/black/wp-content/uploads/sites/4/2019/03/niko_img.jpg");
    background-repeat: no-repeat;
    width: 500px;
    height: 900px;
}

body{
    font-family: sans-serif;
    background-color: black;
}

.container
{
    width: 1200px;
    height: 900px;
    margin-left: 8%;
    background-color: black;
    position: absolute;

}

.left-container
{
    width: 470px;
    height: 900px;
    background-image: url("https://n.foxdsgn.com/niko/black/wp-content/uploads/sites/4/2019/03/niko_img.jpg");
    background-repeat: no-repeat;
    position: absolute;
}

.name-container
{
    width: 100%;
    height: 70px;
    margin-top: 720px;
}
.name-container h2{
    color: white;
    line-height: 70px;
    margin-left: 24%;
    font-size: 50px;
    font-weight: bold;    

}
.position-container
{
    width: 100%;
    height: 50px;
    margin-top: 15px;
}
.position-container span{
    color: #00c483;
    line-height: 40px;
    margin-left: 38%;
    font-size: 20px; 
    font-weight: bold;   

}


.right-container {
    
    width: 52.5%;
    background-color: rgba(44, 44, 44, 0.473);
    margin-top: 30px;
    height: 860px;
    margin-left: 470px;
    position: absolute;
}

.right-content {
    height: 860px;
    width: 90%;
    margin-left: 40px;
    position: absolute;
}
.about-me {
    margin-top: 35px;
    height: 300px;
    width: 100%;
    /* background-color:rgba(44, 44, 44, 0.473); */
}

.my-services {
    width: 100%;
    height: 400px;


}
 .tbl td {
     width: 270px;
     height: 165px;
 }